.cart{
  position: fixed;
  left:100px;
  top:$margin-sides;
  height:550px;
  width:550px;
  z-index: $z-cart;
  background-color: #FFFFFF;
  mix-blend-mode: hard-light;
}



.clickOut{
  position: fixed;
  background: transparent;
  top:0;
  left:0;
  width:100vw;
  height: 100vh;
  z-index: $z-clickOut;
  background-color: rgba(0,0,0,0.3);
}

.cart-contents{
  height: 100%;
}
.cart-ul{
  position: absolute;
  left: 50px;
  top:0;
  width:450px;
  height:auto;
  max-height:450px;
  overflow:scroll;
  .cart-li{
    width:100%;
    display:block;
    height: 70px;
    position: relative;
    &:nth-child(1){
      margin-top:50px;
    }
    p{
      @include paragraph();
      float:left;
    }
    span{
      float:right;
      margin-left: $margin-left-paragraph;
      @include paragraph();
      position: absolute;
      right: 0;
    }
  }
}

.cart-total{
  position: absolute;
  left:50px;
  bottom: 100px;
  height: auto;
  width: auto;
  margin-bottom: $margin-sides;
  background-color: rgba(255,255,255,0.7);
  .cart-total-tax{
    @include h2();
  }
  .cart-total-amount{
    @include h2();
  }
}


.checkout-button{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 100px;
  line-height: 100px;
  color: red;
  background-color: chartreuse;
}









.processed{
  width: auto;
  position: absolute;
  left: 50px;
  top: 50px;
  .processed-error{

  }
  .processed-thankyou{
    p{
      @include paragraph();
    }
    a{
      @include paragraph();
    }

  }
}














/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  // position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff6600;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


$animation-speed-background:0.6s;
$animation-bezier: ease-in-out;

@keyframes clickoutAnimation {
  from {  background-color: rgba(0,0,0,0);}
  to {  background-color: rgba(0,0,0,0.3);}
}
@-webkit-keyframes clickoutAnimation {
    from {  background-color: rgba(0,0,0,0);}
    to {  background-color: rgba(0,0,0,0.3);}
}
@-ms-keyframes clickoutAnimation {
    from {  background-color: rgba(0,0,0,0);}
    to {  background-color: rgba(0,0,0,0.3);}
}
@-moz-keyframes clickoutAnimation {
    from {  background-color: rgba(0,0,0,0);}
    to {  background-color: rgba(0,0,0,0.3);}
}
@-o-keyframes clickoutAnimation {
    from {  background-color: rgba(0,0,0,0);}
    to {  background-color: rgba(0,0,0,0.3);}
}

.clickOut.ng-hide-remove.ng-hide-remove-active{
  -webkit-animation: clickoutAnimation $animation-speed-background $animation-bezier;
  -moz-animation: clickoutAnimation $animation-speed-background $animation-bezier;
  -ms-animation: clickoutAnimation $animation-speed-background $animation-bezier;
  -o-animation: clickoutAnimation $animation-speed-background $animation-bezier;
  animation: clickoutAnimation $animation-speed-background $animation-bezier;
}
