.home-table{
  position: relative;
  background-color: transparent;
  top: 0;
}




.logo{
  width: 200px;
  position: fixed;
  margin-right: -100px;
  right: 50%;
  z-index:$z-logo;
  h1{
    width:100%;
    text-align: center;
    @include h1();
    line-height: 7px;
  }
}




$red: #ff0000;
$pink: #fd00ff;
$blue: #0026fe;
$celeste: #00f0ff;
$green: #11ff00;
$yellow: #fff900;


.gradient{
  // background-image: url('/assets/gradient.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($red, $pink, $blue, $celeste,$green,$yellow,$red ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($red, $pink, $blue, $celeste,$green,$yellow,$red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($red, $pink, $blue, $celeste,$green,$yellow,$red); /* For Firefox 3.6 to 15 */
  background: linear-gradient($red, $pink, $blue, $celeste,$green,$yellow,$red); /* Standard syntax */

}


.rotating {
  -webkit-animation: rotating 12s linear infinite;
  -moz-animation: rotating 12s linear infinite;
  -ms-animation: rotating 12s linear infinite;
  -o-animation: rotating 12s linear infinite;
  animation: rotating 12s linear infinite;
}






@keyframes goCorner {
  0% { right: 50%;top: 50%;}
  100% { right:$margin-sides;top: $margin-sides;}
}

@-webkit-keyframes goCorner {
  0% { right: 50%;top: 50%;}
  100% { right:$margin-sides;top: $margin-sides;}
}

@-moz-keyframes goCorner {
  0% { right: 50%;top: 50%;}
  100% { right:$margin-sides;top: $margin-sides;}
}

@-ms-keyframes goCorner {
  0% { right: 50%;top: 50%;}
  100% { right:$margin-sides;top: $margin-sides;}
}

@-o-keyframes goCorner {
  0% { right: 50%;top: 50%;}
  100% { right:$margin-sides;top: $margin-sides;}
}





$animation-bezier: ease-in-out;
$animation-speed: 1s;

.logo{
  position: fixed;
  right: 50%;
  top: auto;

}


.logo.corner{
  position: fixed;
  margin-right:auto;
  right:$margin-sides;
  top: $margin-sides;
  transform: rotateY(0deg) !important;
  -webkit-transform: rotateY(0deg) !important;

  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none;
}


.logo.corner-remove.corner-remove-active{
  // -webkit-animation: goCorner $animation-speed $animation-bezier;
  // -moz-animation: goCorner $animation-speed $animation-bezier;
  // -ms-animation: goCorner $animation-speed $animation-bezier;
  // -o-animation: goCorner $animation-speed $animation-bezier;
  // animation: goCorner $animation-speed $animation-bezier;
}

.logo.corner-add.corner-add-active{
  -webkit-animation: goCorner $animation-speed $animation-bezier, rotating 1s linear infinite;
  -moz-animation: goCorner $animation-speed $animation-bezier, rotating 1s linear infinite;
  -ms-animation: goCorner $animation-speed $animation-bezier, rotating 1s linear infinite;
  -o-animation: goCorner $animation-speed $animation-bezier, rotating 1s linear infinite;
  animation: goCorner $animation-speed $animation-bezier, rotating 1s linear infinite;
}
