.product{
  width:100vw;
  height:100vh;
  position: relative;
}

.product-ul{
  width:100vw;
  height:auto;
  padding-top:100px;
  .product-li{
    width: 15vw;
    height: 15vw;
    margin-bottom: 50px;
    margin-left: 50px;
    display: block;
    float: left;

    .product-image{
      width: auto;
      height: 100%;
      margin: auto;
      display: block;

    }
    .product-price{
      width:100%;
      p{

      }
    }
    .product-add{


    }
  }
}
