<div class="shipment" ng-controller="checkoutCtrl">

<!-- 2 -->
  <form name="shipmentForm" novalidate class="shipment-form" method="post" ng-submit="shipmentToPayment()">



  <div class="customer">
    <h2 class="form-title">PERSONAL</h2>
    <div class="form-entry ng-hide">
      <input type="hidden" name="customername" value="name" ng-model="checkout.shipment.first_name" required placeholder="name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'name'">
    </div>

    <div class="form-entry ng-hide">
      <input type="hidden" name="customerlastname" value="lastname" ng-model="checkout.shipment.last_name" required placeholder="lastname" onfocus="this.placeholder = ''" onblur="this.placeholder = 'lastname'">
    </div>

    <div class="form-entry">
      <input type="email" name="customeremail" value="email" ng-model="checkout.customer.email" required placeholder="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'email'">
      <div role="alert">
        <span class="error" ng-show="customer.email.$error.required">
          Required!</span>
        <span class="error" ng-show="customer.email.$error.email">
          Not valid email!</span>
      </div>
    </div>
  </div>


  <div class="address">

    <h2 class="form-title">ship to</h2>

        <div class="form-entry">
          <input type="text" name="name" value="name" ng-model="checkout.shipment.first_name" required placeholder="name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'name'">
        </div>

        <div class="form-entry">
          <input type="text" name="lastname" value="lastname" ng-model="checkout.shipment.last_name" required placeholder="lastname" onfocus="this.placeholder = ''" onblur="this.placeholder = 'lastname'">
        </div>

        <div class="form-entry">
          <input type="text" name="number" value="address" ng-model="checkout.shipment.address_1" required placeholder="address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'address'">
        </div>

        <div class="form-entry">
          <input type="text" name="city" value="city" ng-model="checkout.shipment.city" required placeholder="city" onfocus="this.placeholder = ''" onblur="this.placeholder = 'city'">
        </div>


        <div class="form-entry">
          <input type="text" name="county" value="county" ng-model="checkout.shipment.county" required placeholder="county" onfocus="this.placeholder = ''" onblur="this.placeholder = 'county'">
        </div>

        <div class="form-entry">
          <input type="text" name="country" value="country" ng-model="checkout.shipment.country" required placeholder="country" onfocus="this.placeholder = ''" onblur="this.placeholder = 'country'">
        </div>


        <div class="form-entry">
          <input type="text" name="postcode" value="postcode" ng-model="checkout.shipment.postcode" required placeholder="postcode" onfocus="this.placeholder = ''" onblur="this.placeholder = 'postcode'">
        </div>

        <div class="form-entry">
          <input type="text" name="phone" value="phone" ng-model="checkout.shipment.phone" required placeholder="phone" onfocus="this.placeholder = ''" onblur="this.placeholder = 'phone'">
        </div>

    </div>

<div class="isBillingDifferent">
  <label for="isBillingDifferent-label">is billing different?</label>
  <input class="isBillingDifferent-input" type="checkbox" name="isBillingDifferent" value="false" ng-model="isBillingDifferent">
</div>




      <div class="billing" ng-show="isBillingDifferent">
        <h2 class="form-title">bill to</h2>
        <div class="form-entry">
          <input type="text" name="name" value="name" ng-model="checkout.billing.first_name" required placeholder="name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'name'">
        </div>

        <div class="form-entry">
          <input type="text" name="lastname" value="lastname" ng-model="checkout.billing.last_name" required placeholder="lastname" onfocus="this.placeholder = ''" onblur="this.placeholder = 'lastname'">
        </div>

        <div class="form-entry">
          <input type="text" name="number" value="address" ng-model="checkout.billing.address_1" required placeholder="address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'address'">
        </div>

        <div class="form-entry">
          <input type="text" name="city" value="city" ng-model="checkout.billing.city" required placeholder="city" onfocus="this.placeholder = ''" onblur="this.placeholder = 'city'">
        </div>


        <div class="form-entry">
          <input type="text" name="county" value="county" ng-model="checkout.billing.county" required placeholder="county" onfocus="this.placeholder = ''" onblur="this.placeholder = 'county'">
        </div>

        <div class="form-entry">
          <input type="text" name="country" value="country" ng-model="checkout.billing.country" required placeholder="country" onfocus="this.placeholder = ''" onblur="this.placeholder = 'country'">
        </div>


        <div class="form-entry">
          <input type="text" name="postcode" value="postcode" ng-model="checkout.billing.postcode" required placeholder="postcode" onfocus="this.placeholder = ''" onblur="this.placeholder = 'postcode'">
        </div>

        <div class="form-entry">
          <input type="text" name="phone" value="phone" ng-model="checkout.billing.phone" required placeholder="phone" onfocus="this.placeholder = ''" onblur="this.placeholder = 'phone'">
        </div>


      </div>


    <button class="checkout-button hvr-sweep-to-right" type="submit" ng-class="{'invalid': shipmentForm.$invalid}" ng-disabled="shipmentForm.$invalid">PAYMENT</button>
    <!-- hvr-sweep-to-right -->
  </form>


</div>
